<!DOCTYPE html>
<html>

<head>
    <title>Backbone Sample Application</title>        
    <link href="css/styles.css" rel="stylesheet" type="text/css" />        
</head>

<body>
<div class="container" id="displayContainer">
        <form id="rAppContainer">

        </form>
    </div>
    <script src="libs/js/jquery-1.9.1.js" type="text/javascript"></script>
    <script src="libs/js/underscore.js" type="text/javascript"></script>        
    <script src="libs/js/backbone.js" type="text/javascript"></script>
    <script src="js/model.js" type="text/javascript"></script>
    <script src="js/view.js" type="text/javascript"></script>
    <script src="js/routes.js" type="text/javascript"></script>
    <script type="text/javascript">
        $(document).ready(function() {
            router = new myRouter();
            Backbone.history.start();
        });
    </script>
    <script type="text/template" id="personalInfoTemplate">
        <h3 class="infoHeader">Personal Information</h3>
        <div class="infoFields">
            <label class="control-label" for="lastname">First Name:</label>
            <div class="inputSection">
                <input type="text" required="required" name="firstName" id="firstName" />
            </div>
        </div>
        <div class="infoFields">
            <label class="control-label" for="address2">Last Name:</label>
            <div class="inputSection">
                <input type="text" name="lastName" id="lastName" />
            </div>
        </div>
        <div class="infoFields">
            <div class="inputSection">
                <button type="button"  onclick="router.navigate('addressInfo', {trigger: true});" id="nextpage">Next</button>
            </div>
        </div>
    </script>
    <script type="text/template" id="addressTemplate">
        <h3 class="infoHeader">Personal Information</h3>
        <div class="infoFields">
            <label class="control-label" for="address1">AddressOne:</label>
            <div class="inputSection">
                <input type="text" required="required" name="address1" id="address1" />
            </div>
        </div>
        <div class="infoFields">
            <label class="control-label" for="address2">AddressTwo:</label>
            <div class="inputSection">
                <input type="text" name="address2" id="address2" />
            </div>
        </div>
        <div class="infoFields">
            <label class="control-label" for="city">City:</label>
            <div class="inputSection">
                <input type="text" name="city" id="city" />
            </div>
        </div>
        <div class="infoFields">
            <label class="control-label" for="state">State:</label>
            <div class="inputSection">
                <input type="text" name="state" id="state" />
            </div>
        </div>
        <div class="infoFields">
            <label class="control-label" for="zipcode">ZipCode:</label>
            <div class="inputSection">
                <input type="number" name="zipcode" id="zipcode" />
            </div>
        </div>
        <div class="infoFields">
            <div class="inputSection">
                <button type="button" id="complete" onclick="router.navigate('displayDetails', {trigger: true});">Finish</button>
            </div>
        </div>
    </script>
    <script type="text/template" id="infoDisplayTemplate">
        <h3 class="infoDisplayHeader">Personal Information</h3>
        <div class="infoFields">
            <label class="control-label">First Name:</label>
            <label class="ptop7"><%= firstName%></label>
        </div>
        <div class="infoFields">
            <label class="control-label">Last Name:</label>
            <label class="ptop7"><%= lastName%></label>
        </div>
        <div class="infoFields">
            <label class="control-label">AddressOne:</label>
            <label class="ptop7"><%= address1%></label>
        </div>
        <div class="infoFields">
            <label class="control-label">AddressTwo:</label>
            <label class="ptop7"><%= address2%></label>
        </div>
        <div class="infoFields">
            <label class="control-label">City:</label>
            <label class="ptop7"><%= city%></label>
        </div>
        <div class="infoFields">
            <label class="control-label">State:</label>
            <label class="ptop7"><%= state%></label>
        </div>
        <div class="infoFields">
            <label class="control-label">ZipCode:</label>
            <label class="ptop7"><%= zipcode%></label>
        </div>

    </script>    
</body>

</html>